<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.a1.volte_dialer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />
    
    <!-- needed by VD_Logger -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  	<!-- needed by PhoneStateService to read ServiceState  and CallState-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- needed by DialerService to make calls -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--  -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- needed by DialerService for cell location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>  
    
    <application
        android:allowBackup="true"
        android:name="at.a1.volte_dialer.volte_dialer"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="at.a1.volte_dialer.SettingsActivity"></activity>
        <activity
            android:name="at.a1.volte_dialer.VDMainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="at.a1.volte_dialer.dialer.DialerReceiver" />
        <service android:name="at.a1.volte_dialer.dialer.DialerService"
		    	 android:enabled="true"
		    	 android:exported="false" />
		<receiver android:name="at.a1.volte_dialer.phonestate.PhoneStateReceiver" />
        <service android:name="at.a1.volte_dialer.phonestate.PhoneStateService"
		    	 android:enabled="true"
		    	 android:exported="false" />
		<service android:name="at.a1.volte_dialer.receiver.ReceiverService"
		    	 android:enabled="true"
		    	 android:exported="false" />
    </application>

</manifest>
